ul.expansions {
    display:inline-block;
}

span.current_completion {
    color: grey;
}

li.expansion.expansion-selected {
    font-weight: bold;
}


div.t9-grid {
    display: inline-block;
    vertical-align: top;
    div.t9-row {
        margin: 0em;
        div.t9-key {
            cursor: pointer;
            display: inline-block;
            border: 1px solid black;
            width: 4em;
            height: 4em;
            margin: 0.5em;
            div.t9-number {
                font-size: 2em;
                text-align: center;
            }
            div.t9-letters {
                text-align: center;
                font-family: Sans-Serif;
            }
        }
        div.t9-key.t9-key-dummy {
            visibility: hidden;
        }
        div.t9-key.t9-key-del,
        div.t9-key.t9-key-down,
        div.t9-key.t9-key-up {
            div.t9-number {
                font-size: 1.95em;
            }
            div.t9-letters {
                visibility: hidden;
            }
        }
    }
}

span.cursor {
    animation: 1s blink step-end infinite;
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
}

// cribbed off http://codepen.io/ArtemGordinsky/pen/GnLBq
.cursor {
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
    from, to {
        color: transparent;
    }
    50% {
        color: black;
    }
}

@-moz-keyframes blink {
    from, to {
        color: transparent;
    }
    50% {
        color: black;
    }
}

@-webkit-keyframes "blink" {
    from, to {
        color: transparent;
    }
    50% {
        color: black;
    }
}

@-ms-keyframes "blink" {
    from, to {
        color: transparent;
    }
    50% {
        color: black;
    }
}

@-o-keyframes "blink" {
    from, to {
        color: transparent;
    }
    50% {
        color: black;
    }
}
